video {
  width: 100%;
  height: auto;
}

button {
  border: 2px solid red;
  font-size: 18px;
  background-color: red;
  color: white;
  margin-right: 4px;
  border-radius: 3px;
  transition: color 0.5s, background-color 0.5s;
}

button:hover,
button:active {
  color: red;
  background-color: white;
}
