body {
  margin: 0;
  font-family: sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

section {
  width: 80%;
  margin: 0.5rem auto;
  border-radius: 3px;
  padding: 1rem;
  background-color: white;
  color: #2c3e50;
}

h1, h2 {
  margin: 0 0 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
  color: #95a5a6;
  font-weight: normal;
}

form {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  margin-right: 0.5rem;
}

input {
  border: 2px solid #bdc3c7;
  padding: 0.8rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 3px;
}

#addTask {
  background-color: #ecf0f1;
}

ul {
  list-style: none;
  padding: 0
}

li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 3px;
  margin: 1rem 0;
  background-color: dimgray;
  color: white;
}

button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid #bdc3c7;
  background-color: #ecf0f1;
  border-radius: 3px;
  text-transform: uppercase;
}
